# Download data

##### Please run make configure-envs before running this notebook, as it is an interactive script.

In [194]:
!make -C .. download-data

poetry run python scripts/data/01_download_data.py
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 .kaggle/kaggle.json'
Download start...
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 .kaggle/kaggle.json'
Dataset URL: https://www.kaggle.com/datasets/meirnizri/covid19-dataset
Downloading covid19-dataset.zip to data/raw
 64%|████████████████████████▍             | 3.00M/4.66M [00:00<00:00, 4.82MB/s]
100%|██████████████████████████████████████| 4.66M/4.66M [00:00<00:00, 5.84MB/s]
Files downloaded successfully.
Unzipping files...
Unzipping all files...
Unzipped all files.
Deleted zip file.
Output CSV stored in: data/raw/covid_data.csv
Files unzipped successfully.

In [195]:
import os
from pathlib import Path

from dotenv import load_dotenv

load_dotenv()
root_data = os.getenv("KAGGLE_FILES_DIR")
dataset_path = Path(os.getcwd(), "..", root_data)
raw = Path(dataset_path, "raw")

# About dataset 
### (from Kaggle)

The main goal of this project is to build a machine learning model that, given a Covid-19 patient's current symptom, status, and medical history, will predict whether the patient is in high risk or not.

## Content

The dataset was provided by the Mexican government.  
This dataset contains an enormous number of anonymized patient-related information including pre-conditions.  
The raw dataset consists of 21 unique features and 1,048,576 unique patients.  In the Boolean features, 1 means "yes" and 2 means "no". values as 97 and 99 are missing data.

- sex: 1 for female and 2 for male.
- age: of the patient.
- classification: covid test findings. Values 1-3 mean that the patient was diagnosed with covid in different
- degrees. 4 or higher means that the patient is not a carrier of covid or that the test is inconclusive.
- patient type: type of care the patient received in the unit. 1 for returned home and 2 for hospitalization.
- pneumonia: whether the patient already have air sacs inflammation or not.
- pregnancy: whether the patient is pregnant or not.
- diabetes: whether the patient has diabetes or not.
- copd: Indicates whether the patient has Chronic obstructive pulmonary disease or not.
- asthma: whether the patient has asthma or not.
- inmsupr: whether the patient is immunosuppressed or not.
- hypertension: whether the patient has hypertension or not.
- cardiovascular: whether the patient has heart or blood vessels related disease.
- renal chronic: whether the patient has chronic renal disease or not.
- other disease: whether the patient has other disease or not.
- obesity: whether the patient is obese or not.
- tobacco: whether the patient is a tobacco user.
- usmr: Indicates whether the patient treated medical units of the first, second or third level.
- medical unit: type of institution of the National Health System that provided the care.
- intubed: whether the patient was connected to the ventilator.
- icu: Indicates whether the patient had been admitted to an Intensive Care Unit.
- date died: If the patient died indicate the date of death, and 9999-99-99 otherwise.

## Exploratory analysis

In [196]:
import pandas as pd

In [197]:
df = pd.read_csv(Path(raw, "covid_data.csv"))
print(f"Shape: {df.shape}")
df.head()

Shape: (1048575, 21)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

#### Info about Dataset

In [198]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

##### Check for null values:

In [199]:
df.isna().sum().sum()

0

##### No null values, which is good, but there are missing data (values 97, 99).

Check how many unique values are in each column.

In [200]:
for i in df.columns:
    print(i, "=>", len(df[i].unique()))

USMER => 2
MEDICAL_UNIT => 13
SEX => 2
PATIENT_TYPE => 2
DATE_DIED => 401
INTUBED => 4
PNEUMONIA => 3
AGE => 121
PREGNANT => 4
DIABETES => 3
COPD => 3
ASTHMA => 3
INMSUPR => 3
HIPERTENSION => 3
OTHER_DISEASE => 3
CARDIOVASCULAR => 3
OBESITY => 3
RENAL_CHRONIC => 3
TOBACCO => 3
CLASIFFICATION_FINAL => 7
ICU => 4

##### Check for missing values:

In [201]:
for col in df.columns:
    print(f'{col} => {(len(df[(df[col] == 98) | (df[col] == 99) | (df[col] == 97)]) / len(df) * 100):.2f}%')

USMER => 0.00%
MEDICAL_UNIT => 0.00%
SEX => 0.00%
PATIENT_TYPE => 0.00%
DATE_DIED => 0.00%
INTUBED => 81.62%
PNEUMONIA => 1.53%
AGE => 0.03%
PREGNANT => 50.28%
DIABETES => 0.32%
COPD => 0.29%
ASTHMA => 0.28%
INMSUPR => 0.32%
HIPERTENSION => 0.30%
OTHER_DISEASE => 0.48%
CARDIOVASCULAR => 0.29%
OBESITY => 0.29%
RENAL_CHRONIC => 0.29%
TOBACCO => 0.31%
CLASIFFICATION_FINAL => 0.00%
ICU => 81.64%

##### Remove missing values in columns with < 1% missing.  
Also "ICU" and "INTUBED" will totally be dropped, as these have over 80% missing values.  
"PREGNANT" needs evaluation.

In [202]:
df = df[(df.PNEUMONIA == 1) | (df.PNEUMONIA == 2)]
df = df[(df.DIABETES == 1) | (df.DIABETES == 2)]
df = df[(df.COPD == 1) | (df.COPD == 2)]
df = df[(df.ASTHMA == 1) | (df.ASTHMA == 2)]
df = df[(df.INMSUPR == 1) | (df.INMSUPR == 2)]
df = df[(df.HIPERTENSION == 1) | (df.HIPERTENSION == 2)]
df = df[(df.OTHER_DISEASE == 1) | (df.OTHER_DISEASE == 2)]
df = df[(df.CARDIOVASCULAR == 1) | (df.CARDIOVASCULAR == 2)]
df = df[(df.OBESITY == 1) | (df.OBESITY == 2)]
df = df[(df.RENAL_CHRONIC == 1) | (df.RENAL_CHRONIC == 2)]
df = df[(df.TOBACCO == 1) | (df.TOBACCO == 2)]
df.drop(columns=["INTUBED", "ICU"], inplace=True)

In [203]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
0,2,1,1,1,03/05/2020,1,65,2,2,2,2,2,1,2,2,2,2,2,3
1,2,1,2,1,03/06/2020,1,72,97,2,2,2,2,1,2,2,1,1,2,5
2,2,1,2,2,09/06/2020,2,55,97,1,2,2,2,2,2,2,2,2,2,3
3,2,1,1,1,12/06/2020,2,53,2,2,2,2,2,2,2,2,2,2,2,7
4,2,1,2,1,21/06/2020,2,68,97,1,2,2,2,1,2,2,2,2,2,3

Column "DATE_DIED" has value 9999-99-99 meaning patient has not died.
Dead patient will be marked as 2, living as 1.  
Column "DEATH" will be target in classification.

In [204]:
df["DEATH"] = [1 if each == "9999-99-99" else 2 for each in df.DATE_DIED]
df.drop(columns=["DATE_DIED"], inplace=True)

Investigate column "PREGNANT" with "SEX"  

Check if male sex (2) has any non-missing values for pregnancy.

In [205]:
df.loc[df["SEX"] == 2, "PREGNANT"].unique()

array([97])

All males have missing value (97) for pregnancy -> it will be marked as 2 (non-pregnant).

In [206]:
df.loc[df["SEX"] == 1, "PREGNANT"].unique()

array([ 2, 98,  1])

Females have another missing value (98) for pregnancy -> it will be marked removed.

In [207]:
df["PREGNANT"] = df["PREGNANT"].replace(97, 2)
# Removing missing values
df = df[(df.PREGNANT == 1) | (df.PREGNANT == 2)]

In [208]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,DEATH
0,2,1,1,1,1,65,2,2,2,2,2,1,2,2,2,2,2,3,2
1,2,1,2,1,1,72,2,2,2,2,2,1,2,2,1,1,2,5,2
2,2,1,2,2,2,55,2,1,2,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,2,53,2,2,2,2,2,2,2,2,2,2,2,7,2
4,2,1,2,1,2,68,2,1,2,2,2,1,2,2,2,2,2,3,2

Check unique values again:

In [209]:
for i in df.columns:
    print(i, "=>", len(df[i].unique()))

USMER => 2
MEDICAL_UNIT => 13
SEX => 2
PATIENT_TYPE => 2
PNEUMONIA => 2
AGE => 121
PREGNANT => 2
DIABETES => 2
COPD => 2
ASTHMA => 2
INMSUPR => 2
HIPERTENSION => 2
OTHER_DISEASE => 2
CARDIOVASCULAR => 2
OBESITY => 2
RENAL_CHRONIC => 2
TOBACCO => 2
CLASIFFICATION_FINAL => 7
DEATH => 2

Draw correlation map between columns.

In [210]:
corr = df.corr()
corr.style.background_gradient(cmap="coolwarm").format(precision=2)

It looks like following data (columns) have very low relevance (<10%) to dying from Covid (column "DEATH"):
- SEX
- PREGNANT
- COPD (patient has Chronic obstructive pulmonary disease or not)
- ASTHMA
- INMSUPR (patient is immunosuppressed or not)
- OTHER_DISEASE
- TOBACCO
- OBESITY
- CARDIOVASCULAR  

Also, column "MEDICAL_UNIT" is irrelevant to me - it codes information about medical units from Mexican NHS.
These columns will be dropped.

In [211]:
irrelevant_cols = ["SEX", "PREGNANT", "COPD", "ASTHMA", "INMSUPR", "OTHER_DISEASE", "TOBACCO", "OBESITY",
                   "CARDIOVASCULAR", "MEDICAL_UNIT"]
df.drop(columns=irrelevant_cols, inplace=True)

In [212]:
df.head()

,USMER,PATIENT_TYPE,PNEUMONIA,AGE,DIABETES,HIPERTENSION,RENAL_CHRONIC,CLASIFFICATION_FINAL,DEATH
0,2,1,1,65,2,1,2,3,2
1,2,1,1,72,2,1,1,5,2
2,2,2,2,55,1,2,2,3,2
3,2,1,2,53,2,2,2,7,2
4,2,1,2,68,1,1,2,3,2

##### 1 target column "DEATH", 8 feature columns.  

Column "CLASSIFICATION_FINAL" will be simplified to 1 - covid not diagnosed, 2 - covid diagnosed.

In [213]:
df["CLASIFFICATION_FINAL"] = [1 if clsf > 3 else 2 for clsf in df.CLASIFFICATION_FINAL]

In [214]:
df.head()

,USMER,PATIENT_TYPE,PNEUMONIA,AGE,DIABETES,HIPERTENSION,RENAL_CHRONIC,CLASIFFICATION_FINAL,DEATH
0,2,1,1,65,2,1,2,2,2
1,2,1,1,72,2,1,1,1,2
2,2,2,2,55,1,2,2,2,2
3,2,1,2,53,2,2,2,1,2
4,2,1,2,68,1,1,2,2,2

In [215]:
for i in df.columns:
    print(i, "=>", len(df[i].unique()))

USMER => 2
PATIENT_TYPE => 2
PNEUMONIA => 2
AGE => 121
DIABETES => 2
HIPERTENSION => 2
RENAL_CHRONIC => 2
CLASIFFICATION_FINAL => 2
DEATH => 2

Now all binary values will be mapped to 0-1.

In [216]:
cols = df.columns.copy()
cols = cols.drop("AGE")

for i in cols:
    print(i, "=>", df[i].unique())

USMER => [2 1]
PATIENT_TYPE => [1 2]
PNEUMONIA => [1 2]
DIABETES => [2 1]
HIPERTENSION => [1 2]
RENAL_CHRONIC => [2 1]
CLASIFFICATION_FINAL => [2 1]
DEATH => [2 1]

In [217]:
for col in cols:
    df[col] = [0 if row == 1 else 1 for row in df[col]]

df.head()

,USMER,PATIENT_TYPE,PNEUMONIA,AGE,DIABETES,HIPERTENSION,RENAL_CHRONIC,CLASIFFICATION_FINAL,DEATH
0,1,0,0,65,1,0,1,1,1
1,1,0,0,72,1,0,0,0,1
2,1,1,1,55,0,1,1,1,1
3,1,0,1,53,1,1,1,0,1
4,1,0,1,68,0,0,1,1,1

In [218]:
for i in df.columns:
    print(i, "=>", df[i].unique())

USMER => [1 0]
PATIENT_TYPE => [0 1]
PNEUMONIA => [0 1]
AGE => [ 65  72  55  53  68  40  64  37  25  38  24  30  48  23  80  61  54  59
  45  26  32  49  39  27  57  20  56  47  50  46  43  28  33  16  62  58
  36  44  66  52  51  35  19  90  34  22  29  14  31  42  15   0  17  41
   2  10   1  12   4   7   6   8  60   5  13  63  75  81  67  18  70  88
  85  92  73  74  78  76  82  77  86  71  95  87  83  84  79  69  89   3
  97  93 100  91  21 103  11   9  94  96 101 107 102  98  99 109 116 105
 111 104 114 120 106 110 118 117 121 108 115 119 113]
DIABETES => [1 0]
HIPERTENSION => [0 1]
RENAL_CHRONIC => [1 0]
CLASIFFICATION_FINAL => [1 0]
DEATH => [1 0]

In [219]:
# Rename columns to less medical terms.
df["COVID"] = df["CLASIFFICATION_FINAL"]
df["HOSPITALIZED"] = df["PATIENT_TYPE"]
df["RENAL"] = df["RENAL_CHRONIC"]
df["MEDICAL_CARE"] = df["USMER"]

df.drop(["CLASIFFICATION_FINAL", "PATIENT_TYPE", "RENAL_CHRONIC", "USMER"], axis=1, inplace=True)

df.head()

,PNEUMONIA,AGE,DIABETES,HIPERTENSION,DEATH,COVID,HOSPITALIZED,RENAL,MEDICAL_CARE
0,0,65,1,0,1,1,0,1,1
1,0,72,1,0,1,0,0,0,1
2,1,55,0,1,1,1,1,1,1
3,1,53,1,1,1,0,0,1,1
4,1,68,0,0,1,1,0,1,1

Data is preprecessed and ready to classification.

In [220]:
y = df["DEATH"]
cols = df.columns.drop("DEATH")
X = df[cols]

In [221]:
X

,PNEUMONIA,AGE,DIABETES,HIPERTENSION,COVID,HOSPITALIZED,RENAL,MEDICAL_CARE
0,0,65,1,0,1,0,1,1
1,0,72,1,0,0,0,0,1
2,1,55,0,1,1,1,1,1
3,1,53,1,1,0,0,1,1
4,1,68,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...
1048570,1,40,1,1,0,0,1,1
1048571,1,51,1,0,0,1,1,0
1048572,1,55,1,1,0,0,1,1
1048573,1,28,1,1,0,0,1,1
1048574,1,52,1,1,0,0,1,1

In [222]:
y

0          1
1          1
2          1
3          1
4          1
          ..
1048570    0
1048571    0
1048572    0
1048573    0
1048574    0
Name: DEATH, Length: 1021977, dtype: int64